@import 'https://fonts.googleapis.com/css?family=Montserrat';

@font-face{
    font-family: Pixelicious;
    src: url(fonts/Pixelicious.ttf);
}
@font-face{
    font-family: VCR-OSD-MONO;
    src: url(fonts/VCR_OSD_MONO_1.001.ttf);
}
@font-face {
    font-family: AlienEncounters;
    src: url(fonts/Alien-Encounters-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: AlienEncounters;
    src: url(fonts/Alien-Encounters-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: AlienEncounters;
    src: url(fonts/Alien-Encounters-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: AlienEncounters;
    src: url(fonts/Alien-Encounters-Bold-Italic.ttf);
    font-weight: bold;
    font-style: italic;
}



.blackBackground {
    width: 100%;
    height: 100%;
    background-color: #000;
}



.gridWrapper {
    font-family: mr-sandsfort, sans-serif;
    font-style: normal;
    font-weight: 400;
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}


.gridBox {
    font-family: mr-sandsfort, sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}
