@import 'https://fonts.googleapis.com/css?family=Montserrat';

@font-face{
    font-family: Pixelicious;
    src: url(fonts/Pixelicious.ttf);
}
@font-face{
    font-family: VCR-OSD-MONO;
    src: url(fonts/VCR_OSD_MONO_1.001.ttf);
}
@font-face {
    font-family: AlienEncounters;
    src: url(fonts/Alien-Encounters-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: AlienEncounters;
    src: url(fonts/Alien-Encounters-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: AlienEncounters;
    src: url(fonts/Alien-Encounters-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: AlienEncounters;
    src: url(fonts/Alien-Encounters-Bold-Italic.ttf);
    font-weight: bold;
    font-style: italic;
}

header {
    display: flex;
    min-height: 100vh;
}

div {
    display: flex;
    width: auto;
    margin: auto;
}

.gridWrapper {
    transform: rotate(-20deg);
    font-family: mr-sandsfort, sans-serif;
    padding: 10vw;
    font-style: normal;
    font-weight: 400;
    display: grid;
    grid-template-columns: auto auto auto auto 1fr auto auto;
    grid-template-rows: repeat(6, auto);
    grid-gap: 10px;
    color: #444;
    margin: auto;
}

.gridBox {
    transform: rotate(20deg);
    padding: 2rem;
    font-family: mr-sandsfort, sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: #f44;
    color: #fff;
    border-radius: 1rem;
    font-size: 150%;
}

.gridWrapper h1:nth-child(1) {
    transform: rotate(20deg);
    grid-row: 1;
    grid-column: 4/5;

    padding-right: 1rem;

    font-size: 400%;
    letter-spacing: 1rem;
    text-align: right;
}

.gridWrapper div:nth-child(2) {
    grid-row: 2/5;
    grid-column: 4/5;

    margin: 0;
    transform: rotate(-45deg);

    font-family: verveine, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 250%;
    writing-mode: vertical-lr;
    justify-self: center;
    border-right: 5px solid rgba(12, 12, 10, 0.8);
    border-left: 5px solid rgba(12, 12, 10, 0.8);
}

.gridWrapper div:nth-child(3){
    grid-row: 1;
    grid-column:5;
}

.gridWrapper div:nth-child(4){
    grid-row: 1;
    grid-column:6;
}

.gridWrapper div:nth-child(5){
    grid-row: 1;
    grid-column:7;
}

.gridWrapper div:nth-child(6) {
    z-index: -1;
    transform: rotate(20deg);
    grid-row: 1/6;
    grid-column: 1;

    border-left: 4rem solid #f44;
    height: 100%;
    background-color: #aaa;
}

.gridWrapper div:nth-child(7) {
    z-index: -1;
    transform: rotate(20deg);
    grid-row: 2/6;
    grid-column: 2;

    border-left: 2rem solid #f44;
    height: 100%;
    background-color: #aaa;
}

.gridWrapper div:nth-child(8) {
    z-index: 1;
    transform: rotate(20deg);
    grid-row: 3/6;
    grid-column: 3;

    border-left: 1rem solid #f44;
    padding-right: 2rem;
    margin-right: 1rem;
    height: 100%;
    background-color: #aaa;
}
