@font-face{
    font-family: Pixelicious;
    src: url(fonts/Pixelicious.ttf);
}
@font-face{
    font-family: VCR-OSD-MONO;
    src: url(fonts/VCR_OSD_MONO_1.001.ttf);
}
@font-face {
font-family: AlienEncounters;
src: url(fonts/Alien-Encounters-Regular.ttf);
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: AlienEncounters;
src: url(fonts/Alien-Encounters-Italic.ttf);
font-weight: normal;
font-style: italic;
}
@font-face {
font-family: AlienEncounters;
src: url(fonts/Alien-Encounters-Bold.ttf);
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: AlienEncounters;
src: url(fonts/Alien-Encounters-Bold-Italic.ttf);
font-weight: bold;
font-style: italic;
}



.tinyText {
    margin-top: 25px;
    font-size: 2vh;
    filter: blur(0.7px);
}

.titleText {
    font-size: 10vh;
    font-family: 'AlienEncounters';
    filter: blur(1px);
}

hr {
    display: block;
    margin-bottom: 7vh;
    border-color: rgba(0,0,0,0);
}

p {
    filter: blur(0.7px);
    font-family: VCR-OSD-MONO
}

#transitionButton {
    font-size: 3vh;
    color: white;
    background-color: #324D5C;
    border-width: 0;
    cursor: pointer;
}

@import 'https://fonts.googleapis.com/css?family=Montserrat';

* {
	box-sizing: border-box;
}

body,
html {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	filter: blur(0.5px);
	display: flex;
	align-items: center;
    text-align: center;
	justify-content: center;
	background: linear-gradient(135deg, #782ae0 0%, #120121 100%);
	font-size: 30px;
	color: #fff;
	text-shadow: 5px 0 3px rgba(251,0,231,0.5), 0 5px 3px rgba(0,233,235,0.5), -5px 0 3px rgba(0,242,14,0.5), 0 -5px 3px rgba(244,45,0,0.8), 5px 0 3px rgba(59,0,226,0.5);
}

body:before {
	content: "";
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 200%;
	background: linear-gradient(rgba(18,16,16,0) 50%, rgba(0,0,0,0.25) 50%), linear-gradient(90deg, rgba(255,0,0,0.06), rgba(0,255,0,0.02), rgba(0,0,255,0.06));
	z-index: 10;
	background-size: 100% 5px, 3px 100%;
	pointer-events: none;
	animation-name: scanlines;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes scanlines {
	0% {transform: translateY(0%);}
    100% {transform: translateY(-50%);}
}
